.copy_right_footer{
    position:fixed;
    background-color:navy;
    width:100%;
    bottom: 0;
    color:mediumslateblue;
    line-height: 3;
    text-align: center;
}

body{
    text-align: center;
}

canvas{
    box-shadow:5px 5px 5px gray;
    border:5px solid white;
    border-radius: 13;
}
 

.heading{
    color: white;
}
